In [1]:
#10.3.3

In [2]:
#Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd #10.3.5

In [3]:
#Set executable path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [C:\Users\szewi\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache

In [4]:
#Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)

#Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

#Searching for elements with a specific combination of tag (div) and attribute (list_text)
#Telling the browser to wait one second before searching for components

True

In [5]:
#Parse the HTML
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [6]:
#The specific data is in a <div /> with a class of 'content_title'
slide_elem.find('div', class_='content_title')

In [7]:
#Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet'

In [8]:
#Scrape the article summary instead of the title
slide_elem.find('div', class_='article_teaser_body')

In [9]:
#There are two methods used to find tags and attributes with BeautifulSoup:

#.find() is used when we want only the first class and attribute we've specified.
#.find_all() is used when we want to retrieve all of the tags and attributes.

In [10]:
#Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021. "

In [11]:
#10.3.4

### Featured Images

In [12]:
#Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [13]:
#Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

#The indexing chained at the end of the first line of code: Ensure the browser to click the second button

In [14]:
#Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [15]:
#Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

#An img tag is nested within this HTML
#.get('src') pulls the link to the image

'image/featured/mars1.jpg'

In [16]:
#Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [17]:
#10.3.5

In [18]:
#Use Pandas' .read_html() function to scrape the entire table
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

#By specifying an index of 0, we're telling Pandas to pull only the first table it encounters
#df.columns=['description', 'Mars', 'Earth']: Assign columns to the new DataFrame for additional clarity
#df.set_index('description', inplace=True): By using the .set_index() function, the Description column will become index
#inplace=True means that the updated index will remain in place, without having to reassign the DataFrame to a new variable

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [19]:
#Convert a DataFrame into HTML-ready code
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
#End the automated browsing session
browser.quit()